{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    {% block extrahead %}
    <link href="{% static 'base.css' %}" rel="stylesheet">
    {% endblock %}
    <title>一覧ページ</title>
</head>
<body>
    <h1>鬼殺隊</h1>
    <div id="wrapper">
        <div class="left-column">
            {% block body %}
            {% endblock %}
        </div>
        <div class="right-column">
            <table border="1">
                <tr>
                    <th>名前</th>
                    <th>性別</th>
                    <th>特徴</th>
                </tr>
                {% for member in data %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.sex }}</td>
                    <td>{{ member.feature }}</td>
                </tr>
                {% endfor %}
            </table>
        </div >

    </div>
</body>
</html>